spring:
  config:
    activate:
      on-profile: dev
  devtools:
    add-properties: true
  datasource:
    url: jdbc:postgresql://${DATABASE_URL:localhost:5432/db_full_step}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:admin}
    hikari: # Connection poll
      max-lifetime: 300000      # 5 phút
      idle-timeout: 60000       # 1 phút
      validation-timeout: 5000  # 5 giây
      minimum-idle: 5
      maximum-pool-size: 20
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

jwt:
  expiryHour: 1
  expiryDay: 14
  accessKey: CFvQ9zB9oShvQjLxx56uIg6YoJW/7mTH7S8BKXfVkuU=
  refreshKey: LyEYa3mbtUqK3hKcjzZv1uNmJi55PYoQkiGvrIYayxU=
  resetKey: ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad
  #generate string to hs256 online
  #https://www.devglan.com/online-tools/text-encryption-decryption

